<ion-content>
  <div class="flex-center h-100 ion-margin">
    <form>
      <ion-card>
        <ion-card-header>
          <ion-card-title class="" color="success">Verify the password reset.</ion-card-title>
        </ion-card-header>

        <ion-card-content>

          <ion-list>
              <ion-item fill="outline">
                <ion-label position="floating">Insert the new password here</ion-label>
                <ion-input
                        #ftDigit
                        type="password"
                        name="ftDigit"
                ></ion-input>
              </ion-item>
          </ion-list>

          <ion-list>
            <ion-item fill="outline">
              <ion-label position="floating">Verify you new password</ion-label>
              <ion-input
                      #ftDigit
                      type="password"
                      name="ftDigit"
              ></ion-input>
            </ion-item>
            
        </ion-list>
          <ion-button
                  (click)="goToLogin()"
                  #submit
                  type="submit"
                  color="success"
                  size="full"
          >Verify Password</ion-button>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>