<ion-header>
  <ion-toolbar>
    <ion-title>control-panel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="w-25">
    <ion-card-header>
      <ion-card-title color="success"><h3>Temperature</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-label><ion-icon name="logo-stackoverflow"></ion-icon></ion-label>
        <ion-toggle slot="end"></ion-toggle>
    </ion-card-content>
  </ion-card>  


  <ion-card class="w-25">
    <ion-card-header>
      <ion-card-title color="success"><h3>Temperature</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-label><ion-icon name="logo-stackoverflow"></ion-icon></ion-label>
        <ion-toggle slot="end"></ion-toggle>
    </ion-card-content>
  </ion-card>  

  <ion-card class="w-25">
    <ion-card-header>
      <ion-card-title color="success"><h3>Temperature</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-label><ion-icon name="logo-stackoverflow"></ion-icon></ion-label>
        <ion-toggle slot="end"></ion-toggle>
    </ion-card-content>
  </ion-card>  


  <ion-card class="w-25">
    <ion-card-header>
      <ion-card-title color="success"><h3>Temperature</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-label><ion-icon name="logo-stackoverflow"></ion-icon></ion-label>
        <ion-toggle slot="end"></ion-toggle>
    </ion-card-content>
  </ion-card>  
</ion-content>
