<ion-content [fullscreen]="true">
  <h1 class="title">Stats Information</h1>

  

  <div class="box box1">
    <apx-chart
      [chart]="areaOptions.chart"
      [series]="areaOptions.series"
      [stroke]="areaOptions.stroke"
      [xaxis]="areaOptions.xaxis"
      [title]="areaOptions.title"
      [subtitle]="areaOptions.subtitle"
      [fill]="areaOptions.fill"
      [tooltip]="areaOptions.tooltip"
      [colors]="areaOptions.colors"
    ></apx-chart>
  </div>

  <div class="box box2">
    <apx-chart
      [chart]="airHumidity.chart"
      [series]="airHumidity.series"
      [stroke]="airHumidity.stroke"
      [xaxis]="airHumidity.xaxis"
      [title]="airHumidity.title"
      [subtitle]="airHumidity.subtitle"
      [fill]="airHumidity.fill"
      [tooltip]="airHumidity.tooltip"
      [colors]="airHumidity.colors"
    ></apx-chart>
  </div>

  <div class="box box3">
    <apx-chart
      [chart]="soilHumidity.chart"
      [series]="soilHumidity.series"
      [stroke]="soilHumidity.stroke"
      [xaxis]="soilHumidity.xaxis"
      [title]="soilHumidity.title"
      [subtitle]="soilHumidity.subtitle"
      [fill]="soilHumidity.fill"
      [tooltip]="soilHumidity.tooltip"
      [colors]="soilHumidity.colors"
    ></apx-chart>
  </div>

  
</ion-content>
