<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Modalities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="success"><h3>Choose Modality</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button>Add Modality</ion-button>
      <ion-list>
        <ion-item>
          <ion-select placeholder="Select Modality">
            <ion-select-option value="miu1">Default</ion-select-option>
            <ion-select-option value="miu2">Spring</ion-select-option>
            <ion-select-option value="miu3">Winter</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>  

  <ion-card>
    <ion-card-header>
      <ion-card-title color="success"><h3>Current Modality</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul class="list-unstyled text-white">
        <li class="d-flex">
          <h1 class="me-3">Name:</h1><h1>Default</h1>
        </li>
        <li class="d-flex">
          <h1 class="me-3">Temperature:</h1><h1>25°C</h1>
        </li>
        <li class="d-flex">
          <h1 class="me-3">Air humidity:</h1><h1>50%</h1>
        </li>
        <li class="d-flex">
          <h1 class="me-3">Soil Humidity:</h1><h1>80%</h1>
        </li>
      </ul>
    </ion-card-content>

  </ion-card>  

</ion-content>
