<ion-header>
  <ion-toolbar>
    <ion-title>modalities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="success"><h3>title</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button>+</ion-button>
      <ion-list>
        <ion-item>
          <ion-select placeholder="Select minjt e mirit">
            <ion-select-option value="miu1">miu1</ion-select-option>
            <ion-select-option value="miu2">miu2</ion-select-option>
            <ion-select-option value="miu3">miu3</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>  

  <ion-card>
    <ion-card-header>
      <ion-card-title color="success"><h3>title</h3></ion-card-title>
    </ion-card-header>
    <h4>Climateh</h4>
    <h4>Air humidity</h4>
    <h4>Soil Humidity</h4>
    <h4>Modalities</h4>
  </ion-card>  

</ion-content>
