<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Modalities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="success"><h3>Choose Modality</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="success">Add Modality</ion-button>
      <ion-list>
        <ion-item>
          <ion-select placeholder="Select Modality"
          (ionChange)="changeModality($event)">
            <ion-select-option *ngFor="let m of modalities" value="{{m.id}}">{{m.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>  

  <ion-card>
    <ion-card-header>
      <ion-card-title color="success"><h3>Current Modality</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col><h1 class="me-3">Name:</h1></ion-col>
          <ion-col class="text-start"><h1>{{modality.name}}</h1></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><h1 class="me-3">Description:</h1></ion-col>
          <ion-col class="text-start"><h1>{{modality.description}}</h1></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><h1 class="me-3">Temperature:</h1></ion-col>
          <ion-col class="align-baseline"><h1>{{modality.min_temperature+'°C - '+modality.max_temperature + '°C'}}</h1></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><h1 class="me-3">Air humidity:</h1></ion-col>
          <ion-col class="text-start"><h1>{{modality.min_air_humidity+'% - '+modality.max_air_humidity+'%'}}</h1></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><h1 class="me-3">Soil Humidity:</h1></ion-col>
          <ion-col class="align-baseline"><h1>{{modality.min_soil_humidity+'% - '+modality.max_soil_humidity+'%'}}</h1></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>  

</ion-content>
