<!--<ion-header>-->
<!--  <ion-toolbar class="" >-->
<!--&lt;!&ndash;    <ion-buttons slot="start">&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-menu-button auto-hide="false" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" ></ion-menu-button>&ndash;&gt;-->
<!--&lt;!&ndash;    </ion-buttons>&ndash;&gt;-->


<!--&lt;!&ndash;      <ion-list  slot="toolbar-content" class="d-flex col-7 m-0">&ndash;&gt;-->
<!--&lt;!&ndash;        <ion-item>Home</ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;        <ion-item>About Us</ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;        <ion-item>Plans & Subscription</ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;        <ion-item>Contacts</ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;      </ion-list>&ndash;&gt;-->
<!--    -->


<!--  </ion-toolbar>-->
<!--</ion-header>-->


<!--<ion-content>-->
<!-- -->
<!--  -->

<!--</ion-content>-->

<!--<!DOCTYPE html>-->
<!--<html>-->
<head>
  <title>Title of the document</title>
</head>

<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><ion-icon class="m-0" color="success" name="leaf-outline"></ion-icon> GMS</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li><li class="nav-item">
        <a class="nav-link" href="#">Plans & Subscriptions</a>
      </li><li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      </ul>
      <div class="d-flex me-4 text-white" role="search">
        <a class="nav-link fw-bold me-3 btn btn-outline-success p-2" href="#">Log In</a>
        <a class="nav-link fw-bold me-3 btn btn-outline-primary p-2" href="#">Sign Up</a>
      </div>
    </div>


  </div>
</nav>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item mb-2 fw-bold ">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item mb-2 fw-bold ">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item mb-2 fw-bold ">
        <a class="nav-link" href="#">Plans & Subscriptions</a>
      </li>
      <li class="nav-item mb-2 fw-bold ">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
    <hr>
    <div class="d-flex me-4" role="search">
      <a class="nav-link fw-bold me-3 btn-outline-success p-2" href="#">Log In</a>
      <a class="nav-link fw-bold me-3 btn-outline-primary p-2" href="#">Sign Up</a>
    </div>
  </div>
</div>


<div class="container-fluid px-0">
<!--  <div class="banner d-flex h-50 w-100">-->
  <div id="triangle-bottomright">
    <img src="./assets/images/gh1.jpg" class="img-fluid w-100 position-absolute start-0" alt="">
<!--    <div id="" class="d-flex w-100 justify-content-end" style="z-index: 1; right: 0">-->
<!--      <svg style="width: 67%" id="esMJw3elA201" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 300 300" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><path d="M300,0h-94.349131L-0.000001,300q299.999999,4.053185,299.999999,0t.000002-300Z" transform="translate(.000001 0)" fill="#00c853" stroke-width="0.6"/><path d="" fill="none" stroke="#3f5787" stroke-width="0.6"/></svg>-->
<!--      <div class="text-white text-end position-absolute mt-5">-->
<!--        <h3>GMS</h3>-->
<!--        <h5>A solution for a happy growth</h5>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
</body>

<!--</html>-->
