<ion-header>
  <ion-toolbar>
    <ion-title>Climate - Live Parametres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="success"><h3>Temperature</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>25 °C</h1>
    </ion-card-content>
  </ion-card>  


  <ion-card>
    <ion-card-header>
      <ion-card-title color="success"><h3>Air Humidity</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>60%</h1>
    </ion-card-content>
  </ion-card> 


  <ion-card>
    <ion-card-header>
      <ion-card-title color="success"><h3>Soil Humidity</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>80%</h1>
    </ion-card-content>
  </ion-card> 


</ion-content>
